:root {
    --base:#ffc600;
    --spacing:10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    max-height: 150px;
}

body {
    text-align: center;
}

body {
    background: blue;
    color: white;
}

.controls {
    margin-bottom: 50px;
}